# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dat
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
*.ex4
*.ex5
*.zip
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
